.container-fluid a{
    font-size: 20px;
    white-space: nowrap;
    font-family: "Inter", sans-serif;
    font-weight: 600;
}

.nav-item a{
    font-weight: 400;
    font-size: 18px;
}

.round {
    border-radius: 20px; /* Радиус скругления */
}

.show-notifications {
    margin-right: 24px;
}

.container-md {
    list-style: none;
}

.container-md h2{
    font-family: "Inter", sans-serif;
    font-weight: 600;
    font-size: 24px;
    margin-top: 24px;
}

.container-md h3{
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: #777;
}

.files {
    background-color: #fff;
    border-radius: 8px;
    border: 1px solid #bbbbbb;
}

.files h2 {
    margin-left: 24px;
    font-size: 20px;
}

.file-list {
    list-style: none;
    padding: 12px 24px;
    font-family: "Inter", sans-serif;
    font-weight: 400;
}

.file-list li {
    padding: 10px;
    border-bottom: 1px solid #eee;
}

.file-list a{
    color: #000000;
    text-decoration: underline;
    font-family: "Inter", sans-serif;
    font-weight: 500;
    font-size: 1em;
}

.file-list h4 {
    color: #3b3b3b;
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 1em;
}

.file-list li:last-child {
    border-bottom: none;
}

.tests {
    margin-top: 24px;
    background-color: #fff;
    border-radius: 8px;
    border: 1px solid #bbbbbb;
}

.tests h2 {
    margin-left: 24px;
    font-size: 20px;
}
