.container-fluid a{
    font-size: 20px;
    white-space: nowrap;
    font-family: "Inter", sans-serif;
    font-weight: 600;
}

.nav-item a{
    font-weight: 400;
    font-size: 18px;
}

.round {
    border-radius: 20px; /* Радиус скругления */
}

.container-md h2{
    font-family: "Inter", sans-serif;
    font-weight: 600;
    font-size: 24px;
    margin-top: 24px;
}

.container-md h3{
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: #777;
}

table {
    margin-top: 24px;
    width: 100%;
    border-collapse: separate;
    border-spacing: 0;
    max-height: 400px;
    overflow-y: auto;
    background-color: #ffffff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    overflow-x: auto;
}

th, td {
    padding: 12px 15px;
    text-align: left;
    border-bottom: 1px solid #e0e0e0;
}

th {
    background-color: #000000;
    color: #ffffff;
    font-weight: 600;
    text-transform: uppercase;
    font-size: 14px;
}

td {
    color: #333333;
    font-size: 14px;
}

tr:nth-child(even) {
    background-color: #f9f9f9;
}

tr:hover {
    background-color: #f1f5f9;
    transition: background-color 0.3s ease;
}

td:first-child {
    font-weight: 500;
}

thead {
    position: sticky;
    top: 0;
    background-color: #000;
    color: #ffffff;
    z-index: 1;
}

.course-add {
    margin-top: 3rem;
    background-color: #fff;
    border-radius: 8px;
    border: 1px solid #bbbbbb;
}

.course-add h2 {
    margin-left: 24px;
}

label {
    margin-left: 24px;
    display: block;
    margin-top: 5px;
    font-weight: bold;
}

textarea {
    position: relative;
    left: 24px;
    display: block;
    width: 50%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type="name"], input[type="desc"] {
    margin-left: 24px;
    display: block;
    width: 50%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

select[type="group"] {
    margin-left: 24px;
    display: block;
    width: 50%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

button[type="mybutton"] {
    display: block;
    margin-left: 24px;
    margin-top: 5px;
    margin-bottom: 24px;
}

.file-list {
    list-style: none;
    padding: 0;
    font-family: "Inter", sans-serif;
    font-weight: 400;
}

.file-list li {
    padding: 10px;
    border-bottom: 1px solid #eee;
}

.file-list a{
    color: #000000;
    text-decoration: underline;
    font-family: "Inter", sans-serif;
    font-weight: 500;
    font-size: 1em;
}

.file-list h4 {
    color: #3b3b3b;
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 1em;
}

.file-list li:last-child {
    border-bottom: none;
}

.tests-list {
    list-style: none;
    padding: 0;
    font-family: "Inter", sans-serif;
    font-weight: 400;
}

.tests-list li {
    padding: 10px;
    border-bottom: 1px solid #eee;
}

.tests-list a{
    color: #000000;
    text-decoration: underline;
    font-family: "Inter", sans-serif;
    font-weight: 500;
    font-size: 1em;
}

.tests-list h4 {
    color: #3b3b3b;
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 1em;
}

.tests-list li:last-child {
    border-bottom: none;
}

input[type="file"] {
            display: none;
        }