.container-fluid a{
    font-size: 20px;
    white-space: nowrap;
    font-family: "Inter", sans-serif;
    font-weight: 600;
}

.nav-item a{
    font-weight: 400;
    font-size: 18px;
}

.round {
    border-radius: 20px; /* Радиус скругления */
}

.round-big {
    border-radius: 230px; /* Радиус скругления */
    box-shadow: 0 0 7px #666;
}

.round:hover{
    cursor: pointer;
}

.user-card {
    margin-top: 48px;
    display: flex;
}

.user-info{
    
    position: relative;
    top: 216px;
    left: -200px;
}

.container-md h2{
    font-family: "Inter", sans-serif;
    font-weight: 600;
    font-size: 24px;
    margin-top: 24px;
}

.container-md h3{
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: #777;
}

table {
    margin-top: 24px;
    width: 100%;
    border-collapse: collapse;
    max-height: 400px;
    overflow-y: auto;
    background-color: #ffffff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    overflow-x: auto;
}

th, td {
    padding: 12px 15px;
    text-align: left;
    border-bottom: 1px solid #e0e0e0;
}

th {
    background-color: #5737a0;
    color: #ffffff;
    font-weight: 600;
    text-transform: uppercase;
    font-size: 14px;
}

td {
    color: #333333;
    font-size: 14px;
}

tr:nth-child(even) {
    background-color: #f9f9f9;
}

tr:hover {
    background-color: #f1f5f9;
    transition: background-color 0.3s ease;
}

td:first-child {
    font-weight: 500;
}

thead {
    position: sticky;
    top: 0;
    background-color: #5737a0;
    color: #ffffff;
    z-index: 1;
}

