.container-fluid a{
    font-size: 20px;
    white-space: nowrap;
    font-family: "Inter", sans-serif;
    font-weight: 600;
}

.nav-item a{
    font-weight: 400;
    font-size: 18px;
}

.round {
    border-radius: 20px; /* Радиус скругления */
}